* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    background-color: #f9f7f7;
    display: flex;
    flex-direction: column;
}

header {
    font-family: "Jolly Lodger", system-ui;
    background-color: #361E6A;
    color: white;
    padding: 10px;
    text-align: left;
    position: relative;
    width: 100%;
}
h1 {
    font-size: 3em;
}

header h2 {
    position: absolute;
    left: 360px;
    top: 28px;
}
main {
    flex-grow: 1;
    font-family: "JetBrains Mono", monospace;
    background-image: url("./img/space-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: top;
    flex-direction: column;
}

main section {
    padding: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

nav a {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    position: absolute;
    top: 150px;
    right: 50px;
    justify-content: right;
    color: white;
    align-items: center;
    padding: 10px;
}

input::placeholder {
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
}

#gameTitle {
    font-family: "JetBrains Mono", monospace;
    font-size: medium;
    max-width: 125px;
    margin-bottom: 10px;
}
#dropdown, #title-dropdown {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    background-color: #361E6A;
    color: white;
    padding: 10px;
    z-index: 1;
}

#add-game {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    position: absolute;
    left: 140px;
    top: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    z-index: 1;
}
footer {
    font-family: "JetBrains Mono", monospace;
    background-color: #361E6A;
    color: white;
    text-align: left;
    margin: 0;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
    }

    /* main {
        flex-direction: row;
    } */
}

@media screen and (max-width: 768px) {
    header, footer {
        padding: 20px;
    }

    nav a {
        padding: 15px;
    }

    main section {
        padding: 20px;
    }

}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2em;
    }

    header {
        text-align: left;
    }

    nav a {
        justify-content: center;
    }

    main {
        justify-content: space-around;

    }

    form {
        width: 100%;
    }
}
#error {
    color:red;
}

article {
    background-color: rgba(0, 0, 0, .5);
    font-family: "JetBrains Mono", monospace;
    color: #FFF;
}
.blogpost {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}