* {
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: #f9f7f7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    font-family: "Jolly Lodger", system-ui;
    background-color: #361E6A;
    color: white;
    padding: 10px;
    text-align: left;
    position: relative;
}
h1 {
    font-size: 3em;
}
main {
    font-family: "JetBrains Mono", monospace;
    background-image: url("./img/space-background.png");
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main section {
    padding: 10px;
    color: white;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

nav a {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    position: absolute;
    top: 130px;
    right: 50px;
    justify-content: right;
    color: white;
    align-items: center;
    padding: 10px;
}

input::placeholder {
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
}

#gameTitle {
    font-family: "JetBrains Mono", monospace;
    font-size: medium;
    max-width: 125px;
    margin-bottom: 10px;
}
#dropdown, #title-dropdown {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    background-color: #361E6A;
    color: white;
    padding: 10px;
    z-index: 1;
}

#add-game {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    position: absolute;
    left: 140px;
    top: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    z-index: 1;
}
footer {
    font-family: "JetBrains Mono", monospace;
    background-color: #361E6A;
    color: white;
    text-align: left;
    margin: 0;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    form {
        flex-direction: column;
    }

    main {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    header, footer {
        padding: 20px;
    }

    nav a {
        padding: 15px;
    }

    main section {
        padding: 20px;
    }

}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2em;
    }

    header {
        text-align: left;
    }

    nav a {
        justify-content: center;
    }

    main {
        justify-content: space-around;
    }

    form {
        width: 100%;
    }
}
#error {
    color:red;
}

article {
    background-color: rgba(0, 0, 0, .5);
    font-family: "JetBrains Mono", monospace;
    color: #FFF;
}